body {
  font-family: "Montserrat";
  background-color: #000080;
  color: white;
  margin: 0; /* Remove default margin */
}

header {
  padding-bottom: 5%;
  margin: 0;
  height: 6rem;
  animation: fadeInDown 1s ease-out;
}

.container-fluid {
  padding: 0.5%;
  margin: 0;
  position: fixed;
}

h1, h2 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: whitesmoke;
}

h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10%;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  h1, h2 {
      font-size: 2.5rem;
  }

  h3 {
      font-size: 1.2rem;
  }
}

div.container {
  height: 4rem;
  margin: 1%;
}

a.navbar-brand {
  height: 4rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

nav {
  padding: 2%;
  background-color: #d9d9d9;
}

.logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.prof-pic {
  height: 30rem;
  padding: 2rem;
}

.btn,
a.nav-link {
  background-color: #d9d9d9;
  color: #395a7f;
  font-weight: 1000;
  font-size: larger;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .btn,
  a.nav-link {
      font-size: medium;
  }
}

div h1 {
  padding-top: 2%;
}

div p {
  padding-bottom: 5%;
}

div button {
  padding: 0;
}

nav.navbar {
  height: 4.5rem;
  padding: 0;
}

ul.social-media,
ul.social-media-foot {
  list-style: none;
  padding: 2%;
  margin-bottom: 2%;
}

li.sc-link,
li.sc-link-foot {
  display: inline;
  padding: 1%;
  height: 4rem;
  text-decoration: none;
}

.sc-link a,
.sc-link-foot a {
  color: inherit;
  text-decoration: none;
}

.social-media li {
  animation: fadeIn 1s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

#projects {
  padding-top: 1%;
  padding-bottom: 10%;
  margin: auto;
}

.background-image-div {
  align-items: center;
  width: 100%;
  height: 400px; /* Set your desired height */
}

.background-image-div img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain image aspect ratio while covering the entire div */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.carousel-container {
  margin-top: 20px; /* Adjust this value based on your design */
}

.carousel {
  z-index: 0;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #d9d9d9;
  height: auto;
  color: #395a7f;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 10s linear infinite;
}